/* CSS for Login Page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bfacee;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.6;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.login-form h1 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="text"], 
.login-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="submit"] {
    background-color: #654caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-form input[type="submit"]:hover {
    background-color: #584490;
}

.login-form p {
    margin-top: 20px;
}

.login-form a {
    text-decoration: none;
    color: #7255ba;
}

.login-form a:hover {
    color: #3e8e41;
}

.goback {
    position: absolute;
    left: 47.5%;
    top: 520px;
    z-index: 1;
}
