body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, rgb(202, 184, 207), #ae9bc0);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(65, 21, 21);
    margin-top: 20px;
}

#member-list {
    margin: 20px auto;
    width: 80%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #5A9;
    color: white;
}

select {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    color: white;
    background-color: #5A9;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4a8;
}

button.delete {
    background-color: #e74c3c;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#edit-member-form {
    display: none;
    margin: 20px auto;
    width: 50%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.goback {
    position: absolute;
    left:90%;
    top: 25px;
    z-index: 1;
    font-size: large;
    color: #333;
}

