/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container for centering the form */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Background Image Styling */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.goback {
    position: absolute;
    left:90%;
    top: 20px;
    z-index: 1;
    font-size: large;
    color: #333;
}

.background-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Register Form Styling */
.register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    z-index: 1;
}

.register-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit Button Styling */
.register-form input[type="submit"] {
    background-color: #654caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.register-form input[type="submit"]:hover {
    background-color: #584490;
}

/* Text and Link Styling */
.register-form p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-form a {
    text-decoration: none;
    color: #7255ba;
}

.register-form a:hover {
    color: #3e8e41;
}
